<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee Login</title>
</head>
<body>

<h2>Employee Login</h2>

<form th:action="@{/employee/login}" method="post">

    <label>Username:</label>
    <input type="text" name="username" required><br><br>

    <label>Password:</label>
    <input type="password" name="password" required><br><br>

    <button type="submit">Login</button>
</form>

<!-- Error message if login fails -->
<div th:if="${error}" style="color:red;">
    <p th:text="${error}"></p>
</div>
<p><a href="/">Return to Homepage</a></p>

</body>
</html>